
/* ==Header Design== */
.navbar{
  background-color: #3A3E52;
  margin-bottom: 20px;
}


.link{
  margin-right: 50px;
  color: white;
}

.logout{
  color: white;
}

.kosong{
  color: blue;
  text-align: center;
}


/* ==Table Design== */

h5{
  text-align: center;
}
table{
  width: 100%;
  margin-top: 10px;
}

thead{
  color:#3A3E52 ;
  font-weight: none;
  text-align: center;
}

table,th, td {
  border: 1px solid #999;
  font-size: 13px;
  padding: 1px;
}

table .tengah{
  text-align: center;
}

.filter{
  display: flex;
  justify-content: flex-end;
}

.icon{
  width: 15px;
}


.icon:hover{
  width: 20px;
  cursor: pointer;
}



/*==Login style==*/

.cardtitle{
  text-align: center;
}

.cardbody{
  margin-top: 20%;
  background-color: #1D1F2B;
  color: white;
  border-radius: 20px 20px 20px 20px;
  
}

.info{
  text-align: center;
  color: red;
}


.inputs{
  margin-bottom:20px;
  text-align: left;
}

input{
  display: block;
  width: 100%;
  background-color: #3A3E52;
  border: none;
  height: 35px;
  color: white;
}

.button:hover{
  cursor: pointer;
}



